<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB Movie Predictor</title>
    <link href=”//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css” rel=”stylesheet”>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:whitesmoke; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;'">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: maroon;">
        <div class="container">
            <div class="navbar-header">
                <i class="fas fa-video"></i>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IMDB Ratings Predictor", "Index", "Home", null,  new { @class = "navbar-brand", @style = " color: #F6F6F6;" } )
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Predict Movie Satisfaction", "Index", "Movies", null, new { @style = " color: #F6F6F6;" })</li>
                    <li>@Html.ActionLink("Create New", "Create", "Movies", null, new { @style = " color: #F6F6F6;" })</li>
                    <li>@Html.ActionLink("Browse", "Browse", "Movies")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IMDb Ratings Predictor</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
